body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(/WebAssets/discord-loginBG.svg);
    background-color: #f0f0f0;
    color: #fff;
}

.entrance {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #393A41;
    height: max-content;
    padding: 0px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

h1 {
    font-size: 2.5em;
    color: #007bff; /* 青色 */
    position: relative;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* 青色 */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; /* 濃い青色 */
}

#attention {
    font-size: 16px;
    margin-top: 10vh;
    color: #ccc;
}

.modal {
    display: flex;
    position: relative;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.modal-content {
    background-color: #393A41;
    width: 100%;
    margin: 10%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* closeクラスに適用する表示形式 */
.close {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    color: #bbb;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* closeクラスにカーソルを重ねた時の表示形式 */
.close:hover {
    color: #888;
}

.textbox {
    align-items: center;
    font-size: 16px;
    color: #ccc;
    max-width: 100%;
    height: 24px;
    box-sizing: border-box;
    padding: 12px 10px;
    background-color: #35353C;
    border:1px solid #888;
    border-radius: 8px;
}

.hidden {
    display: none;
}